torch
gpytorch
botorch
pytorch-lightning
transformers
sentence-transformers
InstructorEmbedding
wandb
scikit-learn
scikit-learn-extra
pandas
tqdm
rdkit
openai
anthropic
google-genai
peft
drfp
rxnfp
matplotlib
jsonargparse
esm